body {
    width: 960px;
    padding-left: 20%;
    padding-right: 20%;
    background-color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    background-color: #4aaaa5;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 200px;
    padding: 20px;
    margin: 0px;  
    float: left;  
}

#contact {
    float: right;
    color: #777777;
    margin: 30px;
}

#about {
    float: right;
    color: #777777;
    margin: 30px;
}

#portfolio {
    float: right;
    color: #777777;
    margin: 30px;
}

.clearfix {
    clear: both;
}

hr {
    width: 100%;
    height: 1px;
    background: gray;
}

#profilepic {
    float: left;
    margin: 10px;
}

h2 {
    color: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
}