body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("assets/images/spikes.png");
}

.header {
    margin-right: 20%;
    margin-left: 20%;
    margin-top: 0px;
    padding-top: 0px;
}

h1 {
    background-color: #4aaaa5;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 200px;
    padding: 20px;
    float: left;  
}

#contact {
    float: right;
    color: #777777;
    margin: 30px;
}

#about {
    float: right;
    color: #777777;
    margin: 30px;
}

#portfolio {
    float: right;
    color: #777777;
    margin: 30px;
}

.clearfix {
    clear: both;
}

.article {
    border-color: #dddddd;
    width: 960px;
    margin-left: 20%;
    margin-right: 20%;
    line-height: 1.5;
    border-style: solid;
    padding: 20px;
}

hr {
    width: 100%;
    height: 1px;
    background: gray;
}

#profilepic {
    float: left;
    margin: 10px;
}

h2 {
    color: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
}